@import '../../../style/_colors.scss';
@import '../../../style/style.scss';

.header {    
    background-color: $color-primary;
    color: $color-secondary;
    .container {
        @include container;
    }
    &-list {
        margin: 0;
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        &-item {
            color: $color-secondary;
            padding: 1% 2%;
            text-decoration: none;
            cursor: pointer;
            transition: 0.4s all;
            &:hover {
                color: $color-third;
            }
        }
    }
}
