@import '../../style/_colors.scss';
@import '../../style/style.scss';

.view {
  @include container;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5%;
 
  &-info {
    
    &-text {
      font-size: 20px;
      line-height: 25px;
      color: $color-primary;
    }
  }
  
  
}

.card {
  text-align: center;
  
}

.btn-sucess {
  margin: 50px;
  
  @include buttons;
  background: $color-success;
}

.btn-danger {
  margin: 50px;
  
  @include buttons;
  background: $color-danger;
}

@keyframes customEnterOverlayAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveOverlayAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes customEnterModalAnimation {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveModalAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.2);
  }
}